.navbar{
    background: darkslategray;
}
nav.container-fluid{
    background: teal;
    opacity: 0.8;
}
.toggleBtn{
    padding: 8px;
    border: 0;
    background: transparent;
}
/* DEFAULT */
#topNav .defaultMode .navbar{
    transition: 0.25s ease-in-out;
    background: darkslategray;
}
#topNav .defaultMode .navbar-brand, .navbar-item{
    color: white;
}

/* LIGHTMODE */
#topNav.lightMode .navbar, .container-fluid{
    transition: 0.25s ease-in-out;
    background: white;
}
#topNav.lightMode .navbar-brand, .nav-item{
    color: black;
}
