.navbar{
    background: darkslategray;
}
nav.container-fluid{
    background: teal;
    opacity: 0.8;
}
.toggleBtn{
    padding: 8px;
    border: 0;
    background: transparent;
}
/* DEFAULT */
#topNav .defaultMode .navbar{
    transition: 0.25s ease-in-out;
    background: darkslategray;
}
#topNav .defaultMode .navbar-brand, .navbar-item{
    color: white;
}
#topNav.defaultMode .myToggler{

    color: transparent;
    font-size: 28px;
}

/* LIGHTMODE */
#topNav.lightMode .navbar, .container-fluid{
    transition: 0.25s ease-in-out;
    background: white;
}
#topNav.lightMode .navbar-brand, .nav-item{
    color: black;
}

#topNav.lightMode .myToggler{

    color: black;
    font-size: 28px;
    padding-top: 2px;
}

#topNav.lightMode .myTogglerNav{

    border-color: black;
}